name: Golanglint CI

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - 'go.sum'
      - 'go.mod'
      - '**.go'
      - .github/workflows/golangci-lint.yml
  pull_request:
    branches:
      - master

jobs:
  Go:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.20'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          version: latest
          args: "--config .golangci-lint.yml"
